:root{/*Variables fusiladas de la identidad visual*/
    --rojo:#c91f13;
    --gris:#D9D9D9;
    --blanquino:#f5f3ec;
    --Tittle-and-subtitles:"El Messiri", sans-serif;
    --Content:"Source Sans 3", sans-serif;
}

 .Titulo-contactanos{
    font-family: var(--Tittle-and-subtitles);
    color:var(--rojo);
    background-color: white;
    padding-top: 35px;
    padding-bottom: 35px;
   
 }
 .Contactanos-seccion{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    position: relative; /* Necesario para el posicionamiento absoluto del pseudo-elemento */
 }
 .Contactanos-seccion::before {
    content: "";
    /* Cargamos la imagen aquí */
    background-image: url('https://res.klook.com/images/fl_lossy.progressive,q_65/c_fill,w_640,h_427/w_39,x_7,y_7,g_south_west,l_Klook_water_br_trans_yhcmh3/activities/cqgviahpclqm3nw5i5o9/PICAFujiyamaFujiFiveLakesGlampingRentalCarPackageinKawaguchiko.jpg');
    background-size: cover;
    background-position: center;
    /* Control de opacidad */
    opacity: 0.7; /* Ajusta este valor (0.0 a 1.0) según prefieras */
    /* Posicionamiento para que cubra toda la sección */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Lo enviamos al fondo para que no tape el formulario */
    z-index: -1;
 }
 .Formulario{
    width: 100%;
    max-width: 500px;
    font-family: var(--Content);
    background-color: var(--blanquino);
    padding: 20px;
    border-radius: 25px;
    box-shadow: 5px 5px 10px grey;
    margin-bottom: 30px;
    justify-content: center;
   
 }
.Campos-formulario{
    display: block;
    margin: 15px;
    font-size: large;
 }
 .Label-formulario{
    display: block; /* (salto de linea) Hace que el label ocupe todo el ancho disponible/renglon */
    margin-top: 15px; /* Separacion entre labels */
   
}


.Input-formulario{
    border: 0px var(--rojo); ;
    border-radius: 5%;
    width: 100%;
    box-sizing: border-box;
    font-family: var(--Content);
}
.Input-formulario:focus{
    outline: none;
}
#mensaje{
    height: 100px;
}
.Button-enviar{
    background-color: var(--rojo);
    color: var(--blanquino);
    font-family: var(--Content);
    font-size: large;
    margin-top: 20px;
    padding: 10px;
    border-radius: 25px;
    width: 100%;
    display: inline-block;
    border: var(--rojo);
}
.Button-enviar:hover{
    background-color: black;
    color: var(--blanquino);
    cursor: pointer;
}


body {
    text-align: initial;
}


footer {
    border-top: 8px solid var(--rojo);
}

