:root{/*Variables de la identidad visual*/
    --rojo:#c91f13;
    --gris:#D9D9D9;
    --blanquino:#f5f3ec;
    --Tittle-and-subtitles:"El Messiri", sans-serif;
    --Content:"Source Sans 3", sans-serif;
}
body{
    font-family: var(--Content);
}
h1{
    font-family: var(--Tittle-and-subtitles);
    color: black;
    padding-top: 35px;
    padding-bottom: 35px;
    margin-top: 30px;
}

.lateral{
    background-color: var(--rojo);
    margin: 0px;
}
.contenedor-mejor-valorados,
.contenedor-busqueda{
/* Caja redondeada */
            display: flex;
            align-items: center;
            border: 1px solid #ccc;
            border-radius: 50px; /* Hace que los bordes sean circulares */
            padding: 5px 20px;
            height: 55px;
            background-color: white;
}
.contenedor-busqueda{
width: 100%;
max-width:200px;
}
.input-busqueda{
/* Quitar el estilo por defecto del input */
            font-family: var(--Content);
            border: none;
            outline: none;
            width:90%;
            /*flex-grow: 1; *//* El input toma todo el espacio disponible */
            font-size: 18px;
            color: #999;
            padding: 8px 0; 
}
.logo-lupa{
/* Estilo para tu imagen */
            width: 10%;
            height: auto;
            cursor: pointer;
            margin-left: 10px;
}

/* Estilo base del botón (Inactivo) */
.btn-filter {
  border-radius: 50px; /* Hace el botón tipo cápsula */
  background-color: #f2f2f2; /* Gris claro */
  color: #666;
  border: none;
  padding: 8px 20px;
  margin: 5px;
  transition: all 0.3s ease;
}

/* Ocultar el check de texto por defecto */
.text-check {
  display: none;
  margin-right: 4px;
  font-weight: bold;
}

/* Estilo cuando el input está seleccionado (Activo) */
.btn-check:checked + .btn-filter {
  background-color: #222; /* Negro/Gris oscuro */
  color: white;
}

/* Mostrar el icono solo cuando esté seleccionado */
.btn-check:checked + .btn-filter .text-check {
  display: inline-block;
}

/* Efecto hover opcional */
.btn-filter:hover {
  background-color: #e0e0e0;
}

/* Cursos */
.contenedor-cursos{
  margin: 20px;
}
.tarjeta-curso{
  margin: 15px;
  border-radius:25px;
  padding: 10px;
}
.tarjeta-curso:hover{
  transform: translateY(-15px); 
}
.card-title{
  font-family: var(--Tittle-and-subtitles);
}
.imagen-curso{
  border-radius:25px;
}
/*css para rellenar las estrellas bien*/
/* START FROM HERE */

[data-star] {
  text-align:left;
  font-style:normal;
  display:inline-block;
  position: relative;
  unicode-bidi: bidi-override;
}
[data-star]::before { 
  display:block;
  content: '★★★★★';
  color: black;
}
[data-star]::after {
  white-space:nowrap;
  position:absolute;
  top:0;
  left:0;
  content: '★★★★★';
  width: 0;
  color: var(--rojo);
  overflow:hidden;
  height:100%;
}

[data-star^="0.1"]::after{width:2%}
[data-star^="0.2"]::after{width:4%}
[data-star^="0.3"]::after{width:6%}
[data-star^="0.4"]::after{width:8%}
[data-star^="0.5"]::after{width:10%}
[data-star^="0.6"]::after{width:12%}
[data-star^="0.7"]::after{width:14%}
[data-star^="0.8"]::after{width:16%}
[data-star^="0.9"]::after{width:18%}
[data-star^="1"]::after{width:20%}
[data-star^="1.1"]::after{width:22%}
[data-star^="1.2"]::after{width:24%}
[data-star^="1.3"]::after{width:26%}
[data-star^="1.4"]::after{width:28%}
[data-star^="1.5"]::after{width:30%}
[data-star^="1.6"]::after{width:32%}
[data-star^="1.7"]::after{width:34%}
[data-star^="1.8"]::after{width:36%}
[data-star^="1.9"]::after{width:38%}
[data-star^="2"]::after{width:40%}
[data-star^="2.1"]::after{width:42%}
[data-star^="2.2"]::after{width:44%}
[data-star^="2.3"]::after{width:46%}
[data-star^="2.4"]::after{width:48%}
[data-star^="2.5"]::after{width:50%}
[data-star^="2.6"]::after{width:52%}
[data-star^="2.7"]::after{width:54%}
[data-star^="2.8"]::after{width:56%}
[data-star^="2.9"]::after{width:58%}
[data-star^="3"]::after{width:60%}
[data-star^="3.1"]::after{width:62%}
[data-star^="3.2"]::after{width:64%}
[data-star^="3.3"]::after{width:66%}
[data-star^="3.4"]::after{width:68%}
[data-star^="3.5"]::after{width:70%}
[data-star^="3.6"]::after{width:72%}
[data-star^="3.7"]::after{width:74%}
[data-star^="3.8"]::after{width:76%}
[data-star^="3.9"]::after{width:78%}
[data-star^="4"]::after{width:80%}
[data-star^="4.1"]::after{width:82%}
[data-star^="4.2"]::after{width:84%}
[data-star^="4.3"]::after{width:86%}
[data-star^="4.4"]::after{width:88%}
[data-star^="4.5"]::after{width:90%}
[data-star^="4.6"]::after{width:92%}
[data-star^="4.7"]::after{width:94%}
[data-star^="4.8"]::after{width:96%}
[data-star^="4.9"]::after{width:98%}
[data-star^="5"]::after{width:100%}